@import "flowbite/src/themes/default";
@import 'tailwindcss';
@config "../../tailwind.config.js";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@source "../node_modules/flowbite";



@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@plugin "flowbite/plugin";

[aria-selected="true"] {
    color: #ec4899 !important; /* Warna teks (merah) */
    border-color: #ec4899 !important; /* Warna border */
}

/* Cursor saat hover */
input[type="range"] {
    appearance: none; /* Hilangkan styling default */
    width: 100%;
    height: 6px;
    background: #D1D5DB; /* Warna track default */
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: #D1D5DB; /* Warna track default */
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
}

/* Track yang sudah tergeser (hanya berlaku di Firefox) */
input[type="range"]::-moz-range-progress {
    background: #ec4899; /* Warna sebelah kiri */
    height: 6px;
    border-radius: 5px;
}

/* Thumb (tombol geser) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ec4899; /* Warna thumb */
    cursor: pointer;
    position: relative;
}

/* Firefox Thumb */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ec4899;
    cursor: pointer;
}

